<div class="login-box">
    <div class="box-title">LOGIN</div>
    <hr />
    <input class="box-input" id="id-input" placeholder="ID" />
    <input type="password" class="box-input" id="pw-input" placeholder="PW" />
    <button class="box-button disabled" id="login-button" disabled>
        로그인
    </button>
    <hr />
    <div class="box-bot clickable">비밀번호를 잊으셨나요?</div>
    <div class="box-bot clickable">회원이 아니신가요?</div>
</div>
